# temporary files from tests
.version
.tmp-test
/test/jenkins-lts/casc/creds.yaml
/test/jenkins-lts/init.groovy.d/creds-username-password-1.groovy
/test/jenkins-lts/casc/clouds.yaml
/test/jenkins-lts/casc/clouds.yaml
**/clouds.yaml
**/creds.yaml
**/creds-username-password-1.groovy